.vs/**
*.json
ReportGen/bin/**
ReportGen/obj/**
ReportGen.Tests/bin/**
ReportGen.Tests/obj/**
WalkingClubAdmin/bin/**
WalkingClubAdmin/obj/**
WalkPageGen/bin/**
WalkPageGen/obj/**
WalkPageGen.Tests/bin/**
WalkPageGen.Tests/obj/**
